.not-available {
  color: rgb(144, 48, 48) !important;
}
/* Flex layout for card */

@font-face {
  font-family: 'Glacial Indifference Bold'; /* A name you choose for your font */
  src: url('/assets/GlacialIndifference-Bold.otf') format('otf')
}

@font-face {
  font-family: 'Glacial Indifference'; /* A name you choose for your font */
  src: url('/assets/GlacialIndifference-Regular.otf') format('otf')
}

.logo{
  width: 45%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.card-flex {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.card .photo {
  width: 25%;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
  flex-shrink: 0;
  aspect-ratio: 1 / 1; /* Forces a perfect square (1:1 ratio) */
  object-fit: cover;  /* Ensures the image fills the container without distortion or empty space, cropping if necessary */
  object-position: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  width: 50%;
}
.inquire-btn {
  margin:auto;
  padding: 8px 10px;
  background: #ffffff;
  color: #000000;
  border: 1px,solid, #000000;
  font-weight: bold;
  cursor: pointer;
}

/* Card styles for catalogue items */
.card {
  border-radius: 8px;
  margin: 16px auto;
  width: 85%;
}

.artist{
  font-weight: bold;
}

.availability {
  color: #888;
  font-size: 0.95em;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Glacial Indifference', sans-serif;
  font-size: 1em;
}

canvas {
  display: block;
}

.title{
  margin: auto;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
}

.horizontal{
  display: flex;
  flex-direction: row;
}

p{
  margin: 1px;
}

.message{
  width: 90%;
  margin: auto;
}

.message p{
  font-weight: bold;
  color: #a6a6a6;
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 0.8em;
  }
}